<script>
$(document).ready(function() {
    // 为 .review 类中的所有表格添加 Bootstrap 的表格样式类
    $('.review table').addClass('table table-sm table-striped');
    $('.course-overview-table table').addClass('table');

    // 定义一个函数来更新暗色模式
    function updateDarkMode() {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // 如果是暗模式
            //$('.navbar, .nav, .form-control, .btn, .pagination, .form-check-input, .dropdown, table').attr('data-bs-theme', 'dark');
            $('html').attr('data-bs-theme', 'dark');
        } else {
            // 如果是亮模式或未定义
            //$('.navbar, .nav, .form-control, .btn, .pagination, .form-check-input, .dropdown, table').attr('data-bs-theme', 'light');
            $('html').attr('data-bs-theme', 'light');
        }
    }

    // 初始时调用该函数以设置正确的主题
    updateDarkMode();

    // 设置监听器以在暗色模式变化时更新
    window.matchMedia('(prefers-color-scheme: dark)').addListener(updateDarkMode);
});
 $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
             xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
         }
     }
 });

 // display local time
 function toHourMinutes(pubTime) {
   var hours = pubTime.getHours().toString();
   if (hours.length == 1) {
     hours = '0' + hours;
   }
   var minutes = pubTime.getMinutes().toString();
   if (minutes.length == 1) {
     minutes = '0' + minutes;
   }
   return hours + ':' + minutes;
 }

 function toYearMonthDate(pubTime) {
   var year = pubTime.getFullYear().toString();
   var month = (pubTime.getMonth() + 1).toString();
   var day = pubTime.getDate().toString();
   return year + '年' + month + '月' + day + '日';
 }
 
 function updateLocalTime() {
   $('.localtime').each(function(index) {
     if ($(this).css('display') != 'none') {
       return;
     }
     var utcTime = $(this).text();
     var pubTime = new Date(utcTime + ' UTC');
     if (!pubTime) {
       $(this).text(pubTime);
       $(this).show();
       return;
     }
     var now = new Date();
     if (pubTime.getFullYear() == now.getFullYear() && pubTime.getMonth() == now.getMonth() && pubTime.getDate() == now.getDate()) {
       $(this).text('今天 ' + toHourMinutes(pubTime));
     } else {
       var yesterday = new Date();
       yesterday.setDate(yesterday.getDate() - 1); // JavaScript can handle date roll overs
       if (pubTime.getFullYear() == yesterday.getFullYear() && pubTime.getMonth() == yesterday.getMonth() && pubTime.getDate() == yesterday.getDate()) {
         $(this).text('昨天 ' + toHourMinutes(pubTime));
       } else {
         $(this).text(toYearMonthDate(pubTime) + ' ' + toHourMinutes(pubTime));
       }
     }
     $(this).show();
   });
 }

 updateLocalTime();


// Initialize ClipboardJS
new ClipboardJS('.review-links');

// Initialize Bootstrap 5 tooltips
var tooltipTriggerList = [].slice.call(document.querySelectorAll('.review-links'));
tooltipTriggerList.forEach(function (tooltipTriggerEl) {
  new bootstrap.Tooltip(tooltipTriggerEl)
});

</script>
