<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#  if have course, show course#}
    {% if course %}
    <meta name="description" property="og:description" content="Review of {{ course.name_with_teachers_short }} on Niuwa Curriculum Evaluation System">
    <!-- ld json -->
    <script type="application/ld+json">

    {
      "@context": "http://schema.org",
      "@type": "Course",
      "name": "{{ course.name }}",
      "description": "{{ course.description|striptags|safe }}",
      "provider": {
        "@type": "Organization",
        "name": "Niuwa Curriculum Evaluation System",
        "sameAs": "https://nces.cra.moe"
      },
        {%  if course.rate.average_rate %}
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": {{ course.rate.average_rate / 2}},
            "ratingCount": {{ course.review_count}},
            "reviewCount": {{ course.rate.review_count}}
          },
        {% endif %}
        "offers": [{
           "@type": "Offer",
           "category": "Paid",
           "priceCurrency": "CNY",
           "price": 1000
        }],
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "instructor": {
          "@type": "Person",
          "name": "{{ course.teacher_names_display|name_display_short }}"
        },
        "courseMode": "Onsite",
        "courseSchedule": {
           "@type": "Schedule",
           "repeatFrequency": "Weekly",
           "duration": "PT{{ course.hours_per_week or '2'}}H",
           "repeatCount": 16
        }
      }
    }
    </script>
    {% else %}
    <meta name="description" property="og:description" content="评课是为了更好地选课！">
    {% endif %}
    <meta name="keywords" content="SUSTECH,评课,课程">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/favicon.ico">
    <link rel="preconnect" href="https://mirrors.sustech.edu.cn" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;600;700;900&Open+Sans:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="/static/css/style.css?ver=20240115" rel="stylesheet">
    <link href="/static/css/darkmode-override.css?ver=20240108" rel="stylesheet">
    <meta property="og:title" content="{% if course %}NCES - {{ course.name_with_teachers_short }}{% else %}Niuwa Curriculum Evaluation System{% endif %}" />
    <title>{% if course %}NCES - {{ course.name_with_teachers_short }}{% else %}Niuwa Curriculum Evaluation System{% endif %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBM6EFBDSN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FBM6EFBDSN');
    </script>


    {% block head %}
    {% endblock %}

  </head>
