<div class="select-box desktop mb-2 course-type-select-desktop">
  {% if course_type_dict %}
  <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
    <a class="nav-link disabled fw-bold" aria-disabled="true">课程类别：</a>
      <a class="nav-link {% if not course_type %}active{% endif %}" href="{{ url_for(this_module, q=keyword, sort_by=sort_by) }}">全部</a>
      {% for type, course_type_label in course_type_dict.items() %}
      <a class="nav-link {% if type==course_type %}active{% endif %}" href="{{ url_for(this_module, q=keyword, course_type=type, sort_by=sort_by) }}">{{ course_type_label[0] }}</a>
      {% endfor %}
    </div>
  </nav>
  {% endif %}

  <nav class="mt-2">
    <div class="nav nav-pills" id="nav-tab-sort" role="tablist">
      <a class="nav-link disabled fw-bold" aria-disabled="true">排序方式：</a>
      <a class="nav-link {% if sort_by!='popular' %}active{% endif %}" href="{{ url_for(this_module, q=keyword, course_type=course_type, sort_by='rating') }}">课程评分</a>
      <a class="nav-link {% if sort_by=='popular' %}active{% endif %}" href="{{ url_for(this_module, q=keyword, course_type=course_type, sort_by='popular') }}">点评数量</a>
    </div>
  </nav>
</div>
