{% extends "layout-simple.html" %}
{% block content %}
<!--<script src='https://recaptcha.google.cn/recaptcha/api.js'></script>-->
<script src='https://challenges.cloudflare.com/turnstile/v0/api.js' async defer></script>
<div class="container">
  <div class="row my-4">
    {{ error }}

    <h3 class="text-primary">Forgot your password?</h3>
    <hr>

    <form class="needs-validation" method="post" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <div class="mb-3">
        <label for="inputEmail" class="form-label">SUSTech Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Account Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <div class="invalid-feedback">
          Please provide a valid email address.
        </div>
      </div>

      <div class="mb-3">
        完成验证码
        <div class="cf-turnstile" data-sitekey="{{ recaptcha_site_key }}"></div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-blue">Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


{% endblock %}


