{% include 'common-header.html' %}

<body>
  <div id="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">Niuwa Curriculum Evaluation System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" {% if this_module and (this_module=='home.latest_reviews' or this_module=='home.search_reviews') %}class="active"{% endif %}><a class="nav-link" href="{{ url_for('home.latest_reviews') }}">点评</a></li>
            <li class="nav-item" {% if this_module and (this_module=='course.index' or this_module=='home.search') %}class="active"{% endif %}><a class="nav-link" href="{{ url_for('course.index') }}">课程</a></li>
            {% if current_user.is_authenticated %}
            <li class="nav-item" {% if this_module and this_module=='home.follow_reviews' %}class="active"{% endif %}><a class="nav-link" href="{{ url_for('home.follow_reviews') }}">关注</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="https://nces.cra.moe/community-rules/" target="_blank">社区规范</a></li>
          </ul>

            <form class="d-flex" action="{{ url_for('home.search_reviews') if this_module == 'home.search_reviews' else url_for('home.search') }}" method="get" role="search">
              <input class="form-control me-2" type="search" name="q" placeholder="搜索课程、老师、点评" aria-label="Search" value="{{ keyword or '' }}">
              <button class="btn fa fa-search" type="submit"></button>
            </form>

          {% if current_user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ current_user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('user.view_profile', user_id=current_user.id) }}">个人主页</a></li>
                <li><a class="dropdown-item" href="{{ url_for('user.account_settings') }}">设置</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('home.logout') }}">退出</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signin">登录</button>
          {% endif %}

        </div>
      </div>
    </nav>

  {% if not current_user.is_authenticated %}
  <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-signin">
      <div class="modal-content">
        <form id="signin-form" class="form-signin">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-signin-heading">
            <span class="h2">请登录</span>
            <a class="btn btn-primary float-right" href="/signup">注册</a>
          </div>
          <div id="signin-alert" role="alert" class="display: none"></div>
          <label for="inputEmail" class="sr-only">用户名</label>
          <input type="text" name="username" id="inputEmail" class="form-control" placeholder="用户名或邮箱" required autofocus>
          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember">记住我
            </label>
            <a class="float-right" href="{{ url_for('home.forgot_password') }}">忘记密码</a>
          </div>
          <button type="submit" class="btn btn-lg btn-blue btn-block">登录</button>
          <a class="btn btn-sm btn-grey btn-block" href="{{ url_for('home.oauth') }}">CRA SSO/ SUSTech CAS 登录/注册</a>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

<div class="container">

    <div class="text-center banner mobile">NCES现已支持CRA SSO / CAS登录，详情请见<a href="https://blog.sustcra.com/p/cra-sharelatex-sso-cas/">此博客</a><br>欢迎妮可22-23级本科生加入学业交流QQ群： 348025218 （牛娃卷饼屋plus）</div>

  <div class="text-center banner desktop">NCES现已支持CRA SSO / CAS登录，详情请见<a href="https://blog.sustcra.com/p/cra-sharelatex-sso-cas/">此博客</a><br>欢迎妮可22-23级本科生加入学业交流QQ群： 348025218 （牛娃卷饼屋plus）</div>

</div>
<!-- end banner -->


  {% block content %}
  {% endblock %}
  <div id="push"></div>
  </div><!-- ./wrap -->
{% include 'common-footer.html' %}
</body>




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script><!-- 在您的HTML头部添加 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
<!--  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>-->
  {% include 'common-scripts.html' %}
  <script>
   $('#signin').on('shown.bs.modal', function () {
     $('#inputEmail').focus()
   });

   function signin_alert(msg, type) {
     if (!type)
       type = "danger";
     $('#signin-alert').attr("class", "alert alert-" + type);
     $('#signin-alert').html(msg);
     $('#signin-alert').show();
   }

   $('#signin-form').submit(function(e) {
     e.preventDefault();
     var formdata = {}
     $('#signin-form input').each(function() {
       formdata[$(this).attr("name")] = $(this).val();
     });
     $.ajax({
       type: "POST",
       url: "{{ url_for('home.signin', next=request.path, ajax=True) | safe }}",
       data: formdata,
       dataType: "json",
       success: function(res) {
         if (res.status == 200) {
           if (res.next)
             window.location.href = res.next;
           else
             signin_alert(res.msg, "success");
         } else {
           signin_alert(res.msg);
         }
       },
       error: function(e) {
         signin_alert('天了噜! 服务器正在睡觉，请稍后再试。', "warning");
       }
     })
   });

   function read_notification(count) {
     if (count == 0)
         return;
     $.ajax({
        type: "POST",
        url: "{{ url_for('api.read_notifications') }}",
     });
   }
  </script>

  {% block script %} {% endblock %}
</html>
