{% if this_module == 'home.search_reviews_meilisearch' %}
<form class="ud-pd-sm" action="{{ url_for('home.search_reviews_meilisearch') }}" method="get">
{% else %}
<form class="ud-pd-sm" action="{{ url_for('home.search') }}" method="get">
{% endif %}
<div class="mb-1 input-group">
    <input type="text" name="q" class="form-control" placeholder="搜索课程、老师、点评" aria-label="Search" value="{{ keyword or '' }}">
    <button type="submit" class="btn btn-secondary" id="search-button-down">
        <i class="fa fa-search"></i>
    </button>
</div>
</form>

{% if this_module and this_module!='home.search' and this_module!='home.search_reviews_meilisearch' %}
{% if this_module and this_module!='home.search' and this_module!='home.search_reviews_meilisearch' %}
<ul class="nav nav-underline d-block d-md-none d-flex flex-row">
  <li class="nav-item">
    <a class="nav-link {% if this_module == 'home.latest_reviews' %}active{% endif %}" href="{{ url_for('home.latest_reviews') }}">点评</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if this_module == 'course.index' %}active{% endif %}" href="{{ url_for('course.index') }}">课程</a>
  </li>
  {% if this_module == 'course.index' %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
      筛选课程
    </a>
    <ul class="dropdown-menu shadow-sm">
      <li><span class="dropdown-item disabled">排序方式</span></li>
      <li><a class="dropdown-item {% if sort_by!='popular' %}active{% endif %}" href="{{ url_for('course.index', sort_by='rating', course_type=course_type) }}">课程评分</a></li>
      <li><a class="dropdown-item {% if sort_by=='popular' %}active{% endif %}" href="{{ url_for('course.index', sort_by='popular', course_type=course_type) }}">点评数量</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><span class="dropdown-item disabled">课程类别</span></li>
      <li><a class="dropdown-item {% if not course_type %}active{% endif %}" href="{{ url_for(this_module, q=keyword, sort_by=sort_by) }}">全部</a></li>
      {% for type, course_type_label in course_type_dict.items() %}
      <li><a class="dropdown-item {% if type==course_type %}active{% endif %}" href="{{ url_for(this_module, q=keyword, course_type=type, sort_by=sort_by) }}">{{ course_type_label[0] }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% if current_user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link {% if this_module == 'home.follow_reviews' %}active{% endif %}" href="{{ url_for('home.follow_reviews') }}">关注</a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% endif %}

  {% if this_module and this_module=='home.search' %}
<nav>
  <div class="nav nav-pills" id="nav-tab" role="tablist">
      <a class="nav-link active" href="{{ url_for('home.search', q=keyword, noredirect=True) }}">搜课程/老师</a>
      <a class="nav-link" href="{{ url_for('home.search_reviews_meilisearch', q=keyword) }}">搜点评</a>
      <a class="nav-link disabled" href="#">精确搜索请用引号(")</a>
  </div>
</nav>
  {% elif this_module and this_module=='home.search_reviews_meilisearch' %}
<nav>
  <div class="nav nav-pills" id="nav-tab" role="tablist">
      <a class="nav-link" href="{{ url_for('home.search', q=keyword, noredirect=True) }}">搜课程/老师</a>
      <a class="nav-link active" href="{{ url_for('home.search_reviews_meilisearch', q=keyword) }}">搜点评</a>
      <a class="nav-link disabled" href="#">精确搜索请用引号(")</a>
  </div>
</nav>
  {% elif this_module and this_module=='home.follow_reviews' and follow_type=='course' %}
  <a class="btn btn-white float-end d-none d-md-inline-block" href="{{ url_for('home.follow_reviews', follow_type='user') }}">
    <i class="fas fa-arrow-right" aria-hidden="true"></i> 关注的人
  </a>
  <a class="float-end d-md-none" href="{{ url_for('home.follow_reviews', follow_type='user') }}">
    <i class="fas fa-arrow-right" aria-hidden="true"></i> 关注的人
  </a>
  {% elif this_module and this_module=='home.follow_reviews' and follow_type=='user' %}
  <a class="btn btn-white float-end d-none d-md-inline-block" href="{{ url_for('home.follow_reviews', follow_type='course') }}">
    <i class="fas fa-arrow-right" aria-hidden="true"></i> 关注的课程
  </a>
  <a class="float-end d-md-none" href="{{ url_for('home.follow_reviews', follow_type='course') }}">
    <i class="fas fa-arrow-right" aria-hidden="true"></i> 关注的课程
  </a>
  {% endif %}


<div class="pt-3 pb-2">
  {% if title %}
  <span class="blue h4 d-none d-md-block">{{ title }}
    {% if this_module == 'course.index' and course_type_dict and course_type %}
    「{{ course_type_dict[course_type][0] }}」
    {% endif %}
  </span>
  <span class="blue h5 d-block d-md-none">
    {% if this_module == 'course.index' and course_type_dict and course_type %}
      「{{ course_type_dict[course_type][0] }}」
    {% endif %}
    {{ title }}
  </span>
  {% endif %}
</div>
