{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">

<!-- 主要内容区域 -->
<div class="col-md-8">
  <div class="card mb-3 shadow-sm">
    <div class="card-header">
      <span class="blue h3">{{ teacher.name }} 老师的课程</span>
      {% if courses.total == 0 %}
      <span class="text-muted small">还没有课程哦！</span>
      {% else %}
      <span class="text-muted small">(共 {{ courses.total }} 门)</span>
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      {% for course in courses.items %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-9">
            <a class="text-decoration-none h6 blue" href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }} {% if course.courseries %}<span class="badge badge-black-white mono-font">{{ course.courseries }}</span>{% endif %}</a>
            &nbsp;<span class="small text-muted">{{ course.term_ids|term_display_short(5) }}</span>
            <div>
              {% if course.introduction %}
              <span class="badge rounded-pill bg-info">课程简介</span>
              {% endif %}
              {% if current_user.is_authenticated and course in current_user.courses_joined %}
              <span class="badge rounded-pill bg-info">已学过</span>
              {% endif %}
              {% if course.reviewed %}
              <span class="badge rounded-pill bg-success">已点评</span>
              {% endif %}
            </div>
          </div>
          <div class="col-3 text-end">
            {% if course.review_count %}
            <div class="d-flex align-items-center justify-content-end mb-2 blue">
              {% for star in range(0,5) %}
                {% if course.rate.average_rate >= 1.5 + star * 2 %}
                <span class="fa-sharp fa-solid fa-star" aria-hidden="true"></span>
                {% elif course.rate.average_rate >= 0.5 + star * 2 %}
                <span class="fa-sharp fa-regular fa-star-half-stroke" aria-hidden="true"></span>
                {% else %}
                <span class="fa-sharp fa-regular fa-star" aria-hidden="true"></span>
                {% endif %}
              {% endfor %}
            </div>
            <div class="text-nowrap">
                <span class="mono-font blue h6">{{ course.rate.average_rate }}</span>
                <span class="small text-muted ms-1 mono-font">({{ course.review_count }})</span>
            </div>
            {% else %}
            <span class="text-muted small">暂无评价</span>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


    <!-- 侧边栏区域 -->
    <div class="col-md-4">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <img class="avatar-lg circle" alt="teacher avatar" src="{{ teacher.image }}"/>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('teacher.edit_profile', teacher_id=teacher.id) }}" class="btn btn-link float-end">编辑教师信息</a>
          {% endif %}
          <h3 class="blue">{{ teacher.name }}</h3>
          <p>{{ teacher.dept.name }}</p>
          {% if teacher.homepage and teacher.homepage != 'http://' %}
          <p>教师主页：<a href="{{ teacher.homepage }}" target="_blank" class="text-decoration-none"><span class="fa fa-link" aria-hidden="true"></span> 戳这里</a></p>
          {% endif %}
          {% if teacher.research_interest %}
          <p>研究方向：{{ teacher.research_interest }}</p>
          {% endif %}
        <hr>
        <ul class="list-unstyled">
            <li class="mb-2">共 <span class="mono-font blue"><strong>{{ courses.total }}</strong></span> 门课</li>
            <li class="mb-2">共 <span class="mono-font blue"><strong>{{ stats['num_rating'] }}</strong></span> 个点评</li>
            <li class="mb-2">平均分: <span class="mono-font blue"><strong>{{ '%.2f' % stats['avg_rating'] }}</strong></span></li>
            <li>归一化平均分: <span class="mono-font blue"><strong>{{ '%.2f' % stats['normalized_rating'] }}</strong></span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
